<div id="<%= dom_id movement %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= movement.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Current cue:</strong>
    <%= movement.current_cue %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Progression rule:</strong>
    <%= movement.progression_rule %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= movement.notes %>
  </div>
</div>
